  <head>

    <!-- Styles block -->
      <link rel="stylesheet" href="{{url_for('static', filename = 'css/navbar.css')}}">

  </head>
  <body>

    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand custom">R-NEWS</a>
        <a class="navbar-brand link">Latest</a>
        <a class="navbar-brand link">Politics</a>
        <a class="navbar-brand link">Business</a>
        <a class="navbar-brand link">Sports</a>
        <a class="navbar-brand link">More</a>
      </div>
    </nav>
    
  </body>

